GeneratedFiles/GIFMOD/Debug/moc_mainwindow.cpp
GeneratedFiles/GIFMOD/Release/moc_mainwindow.cpp
GeneratedFiles/GIFMOD/ui_mainwindowGIFMod.h
GIFMod - Sassan.VC.db
GIFMod - Sassan.VC.VC.opendb
*.tlog
*.tlog
*.tlog
*.opendb
x64/GIFMod/Debug/GIFMod.tlog/CL.command.1.tlog
*.tlog
x64/GIFMod/Debug/GIFMod.tlog/CL.write.1.tlog
*.tlog
x64/GIFMod/Debug/GIFMod.tlog/custombuild.read.1.tlog
*.tlog
*.tlog
*.tlog